/* kolory:
ciemny zielony #458377
jasny fioletowy #b9909a
*/

/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: rgba(245, 222, 179, 0.9);
}

.wrapper {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    color: #0C0C0C;
    font-family: "Roboto", sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* open */
.open {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
	z-index: 10000;
}

.layer {
    background: #458377;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
    z-index: 1;
    animation: open 2s 0.5s ease-in-out forwards;
}

/* header */
.header {
    padding: 1.5rem 0;
    display: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
	animation-delay: 3s;
}

.title__link {
    display: block;
    padding: 0.5rem 0;
    color: #0C0C0C;
    letter-spacing: 1.5px;
    text-decoration: none;
}

/* navigation */
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    width: 35px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 0;
    background-color: transparent;
    z-index: 3;
    display: block;
    opacity: 0;
    animation: fadeInRight 1s linear forwards;
	animation-delay: 3s;
}

.hamburger, .navigation {
    -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
    transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    transition: transform .3s .1s ease-in-out, visibility 0s .4s;
    transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
}

.hamburger--active {
    background-color: transparent;
}

.hamburger__box {
    width: 35px;
    height: 25px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    width: 100%;
    height: 4px;
    background-color: #0C0C0C;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color 0.1s 0.2s ease-in-out;
    -o-transition: background-color 0.1s 0.2s ease-in-out;
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 4px;
    background-color: #0C0C0C;
    border-radius: 5px;
    position: absolute;
    content: "";
    left: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
    top: -12px;
}

.hamburger__inner::after {
    top: 12px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
    background-color: #fff;
}

.hamburger--active .hamburger__inner:after {
    -webkit-transform: translateY(-12px) rotate(-45deg);
    -ms-transform: translateY(-12px) rotate(-45deg);
    transform: translateY(-12px) rotate(-45deg);
    background-color: #fff;
}

.navigation {
    height: 100%;
    width: 100%;
    background: #0C0C0C;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(100%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    transition: transform .3s .1s ease-in-out, visibility 0s 0s;
    transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
    visibility: visible;
}

.navigation__list {
    width: 80%;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navigation__item {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.navigation__link {
    width: 100%;
    display: block;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0;
    line-height: 1.5;
    text-decoration: none;
}

.navigation__link--active {
    background: #458377;
}

.navigation__link:hover {
    background: #458377;
}

/* hero */
.hero {
    position: relative;
}

.hero::before {
    content: "";
    width: 100%;
    height: 30%;
    background: rgba(69, 131, 119, 0.5);
    position: absolute;
    top: 25%;
    left: 0;
    transform: skewY(5deg);
    z-index: -2;
}

.hero__wrapper {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__photo-wrapper {
    width: 100%;
    line-height: 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 4.4s;
}

.hero__text-wrapper {
    width: 100%;
    padding: 3rem 0.5rem;
    line-height: 1.5;
    text-align: center;
}

.hero__title {
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
}

.hero__second-title {
    margin: 0.4rem 0;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5s;
}

.hero__paragraph {
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5.4s;
}

.hero__btn-wrapper {
    margin-top: 3.5rem;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 5.4s;
}

.hero__btn {
    background: #458377;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    transition: background 0.2s;
}

.hero__btn:hover {
    background: #0C0C0C;
}

/* footer */
.footer__wrapper {
    padding: 0.5rem 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__paragraph {
    margin: 0.4rem 0;
}

.footer__link {
    color: rgba(12, 12, 12, 0.8);
    transition: color 0.2s;
}

.footer__link:hover {
    color: rgba(12, 12, 12, 1);
}

.footer__span--icon {
    margin-left: 0.2rem;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* navigation */
    .header__wrapper {
        align-items: flex-start;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        width: 150%;
        background: transparent;
        position: relative;
        visibility: visible;
        transform: translateX(0);
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navigation__list {
        width: auto;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
    }

    .navigation__item {
        width: auto;
        margin-left: 0.5rem;
        opacity: 0;
        animation: fadeInRight 1s linear forwards;
    }

    .navigation__item:first-of-type {
        margin-left: 0;
        animation-delay: 3s;
    }

    .navigation__item:nth-of-type(2) {
        animation-delay: 3.2s;
    }

    .navigation__item:nth-of-type(3) {
        animation-delay: 3.4s;
    }

    .navigation__item:nth-of-type(4) {
        animation-delay: 3.6s;
    }

    .navigation__link {
        padding: 0.5rem 1rem;
        color: #0C0C0C;
    }

    .navigation__link--active,
    .navigation__link:hover {
        color: #fff;
    }

    /* hero */
    .hero__wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .hero__photo-wrapper {
        width: 50%;
    }

    .hero__text-wrapper {
        width: 50%;
        padding: 1rem;
        text-align: left;
    }

    /* footer */
    .footer__wrapper {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        text-align: right;
    }

    .footer__paragraph {
        margin: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* animations */
@keyframes open {
    0% {
        transform:translateY(0);
    } 100% {
        transform:translateY(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
	0% {
		transform: translateX(150px);
		opacity: 0;
	} 100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(45deg);
	} 100% {
		transform: rotate(405deg);
	}
}
